@page "/"
@using UdemyBlazorApp1.Client.Helpers


<p>Hello, @name.ToUpper()</p>
<p>hi, @CustomToUpper(name)</p>
<p>hi, @StringUtilities2.CustomToUpper2(name)</p>
<p>hi, @StringUtilities3.CustomToUpper3(name)</p>

<p>let's add 2+2 = @(2+2)</p>
<button @onclick="@(() => Console.WriteLine("I've been clicked"))">push me</button>
<button @onclick="@WriteInLog">push me</button>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <h3>Movie</h3>
    <MoviesList  />
</div>
<div>
    <h2>Marsa Name</h2>
    <DummyTextBox placeholder="movie name" disabled="true" />
</div>  

<div>
    <h2>Create a movie</h2>
    <DummyTextBox @attributes="dummyTextboxParameters" />
</div>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private Dictionary<string, object> dummyTextboxParameters = new Dictionary<string, object>()
    {
        { "placeholder", "new movie name 2 "} ,
        { "disabled", "true"}
    };


    string name = "Marsa";
    string CustomToUpper(string value) => value.ToUpper();

    void WriteInLog()
    {
        Console.WriteLine("I've been CLICKED!!!");
        Console.WriteLine("I've been CLICKED!!!");
    }
    public class StringUtilities2
    {
        public static string CustomToUpper2(string value) => value.ToUpper();
    }
}