@page "/"
@using UdemyBlazorApp1.Client.Helpers


<p>Hello, @name.ToUpper()</p>
<p>hi, @CustomToUpper(name)</p>
<p>hi, @StringUtilities2.CustomToUpper2(name)</p>
<p>hi, @StringUtilities3.CustomToUpper3(name)</p>

<p>let's add 2+2 = @(2+2)</p>
<button @onclick="@(() => Console.WriteLine("I've been clicked"))">push me</button>
<button @onclick="@WriteInLog">push me</button>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <h3>Movie</h3>
    @*<p>Title : <b>@spiderman.Title</b></p>
        <p>Release Date : <b>@spiderman.Releasedate.ToString("dd MMM yyy")</b></p> *@
    @foreach (var movie in movies)
    {
        <p>Title : <b>@movie.Title</b></p>
        <p>Release Date : <b>@movie.Releasedate.ToString("dd MMM yyy")</b></p>
    }
    <hr />
    @for (var i = 0; i < movies.Count; i++)
    {
        <p>Title : <b>@movies[i].Title</b></p>
        <p>Release Date : <b>@movies[i].Releasedate.ToString("dd MMM yyy")</b></p>
    }

</div>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{

    string name = "Marsa";
    string CustomToUpper(string value) => value.ToUpper();

    void WriteInLog()
    {
        Console.WriteLine("I've been CLICKED!!!");
        Console.WriteLine("I've been CLICKED!!!");
    }
    public class StringUtilities2
    {
        public static string CustomToUpper2(string value) => value.ToUpper();
    }

    //Movie spiderman = new Movie()
    //{
    //    Title = "Spider man : far from home",
    //    Releasedate = new DateTime(2019, 7, 2)

    //};

    List<Movie> movies;
    protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie(){Title = "Spider-man : Far From Home", Releasedate = new DateTime(2019,7,2)},
            new Movie(){Title = "Moana", Releasedate = new DateTime(2016, 11, 23)},
            new Movie(){Title = "Inception", Releasedate = new DateTime(2010, 7, 16)}
        };
    }
}