@page "/board"

<h3>Board</h3>
<hr/>
<table class="table" align="center">
    <thead>
        <tr>
            <th>제목</th>
            <th>내용</th>
            <th>이름</th>
            <th>날짜</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var board in boards)
        {
            <tr>
                <td>@board.Title</td>
                <td>@board.Text</td>
                <td>@board.Name</td>
                <td>@board.Releasedate.ToString("yyyy MMM dd")</td>
            </tr>
        }
        <form>
            <input type="text" bind="newTitle" name="inpAdd" />
            <input type="text" bind="newText" name="inpAdd" />
            <input type="text" bind="newName" name="inpAdd" />
            <button onclick="@addCompoment">게시판 추가</button>
        </form>
    </tbody>
</table>


    @code {
        // private IList<BoardItem> boards = new List<BoardItem>();
        private List<BoardItem> boards;
        private string newTitle;
        private string newText;
        private string newName;
        private DateTime newDate;

        private void AddBoard()
        {
            if (!string.IsNullOrWhiteSpace(newTitle))
            {
                boards.Add(new BoardItem
                {
                    Title = newTitle,
                    Text = newText,
                    Name = newName,
                    Releasedate = DateTime.Today
                });
                newTitle = string.Empty;
                newText = string.Empty;
                newName = string.Empty;
                newDate = DateTime.Today;
            }
        }
        private BoardItem[] boardss;
        protected override void OnInitialized()
        {
            boardss = await BoardService.GetBoardAsync(DateTime.Now);
        }

    }
